{% extends "base.html" %} {% block title %}About{% endblock %} {% block content
%}

<style>
  .smart-spend-title {
    background-image: url("../static/images/budgeting.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    font-size: 144px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .smart-spend-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    width: 100%;
  }

  .smart-spend-content {
    width: 100%;
  }

  .questions-and-answers {
    margin-top: 5em;
    margin-bottom: 10em;
  }

  .section-1,
  .section-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 2em;
    margin-bottom: 2em;

    width: 100%;
  }

  .section-1-content,
  .section-2-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75%;
  }

  .question-answer {
    margin: 1em;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .question {
    text-align: center;
  }

  .answer {
    width: 75%;
  }

  .meet-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    width: 100%;
    height: 75vh;

    background-color: rgba(218, 220, 220, 0.85);
  }

  .meet-team-content {
    width: 75%;
  }

  .team-members {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 2.5em;
  }

  .team-member {
    margin: 3em;
  }

  .team-member-name {
    margin-top: 2em;
  }
</style>

<div class="smart-spend-section">
  <div class="smart-spend-title">Your Expense History</div>

  <div class="smart-spend-content">
    <div class="questions-and-answers">
      <div class="section-1">
        <div class="section-1-content">
          <div class="question-answer">
            <div class="question">
              <h1>What is Smart Spend?</h1>
            </div>
            <div class="answer">
              <p>
                SmartSpend is a financial management tool that helps you track
                your expenses and manage your budget using the 50/30/20 rule.
              </p>
            </div>
          </div>

          <div class="question-answer">
            <div class="question">
              <h1>What is the 50/30/20 rule?</h1>
            </div>
            <div class="answer">
              <p>
                The 50/30/20 rule is a simple budgeting rule that divides your
                after-tax income into three categories: 50% for needs, 30% for
                wants, and 20% for savings.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="section-2">
        <div class="section-2-content">
          <div class="question-answer">
            <div class="question">
              <h1 style="font-size: 35px">How does Smart Spend work?</h1>
            </div>
            <div class="answer">
              <p>
                SmartSpend allows you to input your financial transactions and
                categorize them as needs, wants, or savings. It then generates a
                chart that shows your spending in each category and helps you
                stay within the 50/30/20 rule. It will then give a
                recommendation on how to adjust your spending to meet the
                50/30/20 rule.
              </p>
            </div>
          </div>

          <div class="question-answer">
            <div class="question">
              <h1>Why SmartSpend?</h1>
            </div>
            <div class="answer">
              <p>
                SmartSpend is a simple and easy-to-use tool that helps you
                manage your budget and achieve your financial goals. It provides
                you with valuable insights into your spending habits and helps
                you make informed decisions about your finances.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="meet-team">
      <div class="meet-team-content">
        <h1>Meet the Team</h1>
        <p>
          SmartSpend was created by a team of developers who are passionate
          about helping people achieve their financial goals. Our mission is to
          provide you with the tools and resources you need to take control of
          your finances and build a secure future.
        </p>

        <div class="team-members">
          <div class="team-member">
            <img
              src="../static/images/darian.jpeg"
              alt="Developer 1"
              width="200"
              height="200"
            />
            <div class="team-member-name">
              <h3>Darian</h3>
            </div>
          </div>

          <div class="team-member">
            <img
              src="../static/images/jethro.jpeg"
              alt="Developer 2"
              width="200"
              height="200"
            />

            <div class="team-member-name">
              <h3>Jethro</h3>
            </div>
          </div>

          <div class="team-member">
            <img
              src="../static/images/mattmiranda.jpeg"
              alt="Developer 3"
              width="200"
              height="200"
            />
            <div class="team-member-name">
              <h3>Matt Miranda</h3>
            </div>
          </div>
        </div>
      </div>

      {% endblock %}
    </div>
  </div>
</div>
